<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>带你装逼，带你飞！</string>
		<key>image</key>
		<string>aboutthisblog/about.jpg</string>
		<key>desc</key>
		<string>当需要开发者手动适配的时候，跟 iPhone 4 过渡到 iPhone 5 一样.在新程序中，指定一张新的启动图片。当指定了启动图，屏幕分辨率就已经变成应有的大小，这时候利用 AutoLayout 进行布局。</string>
		<key>url</key>
		<string>http://www.mixseafood.com/</string>
		<key>date</key>
		<string>2015-02-19</string>
	</dict>
	<dict>
		<key>title</key>
		<string>分店开业，惊喜不断。</string>
		<key>image</key>
		<string>lee/lee01.png</string>
		<key>desc</key>
		<string>接下来就定义一个KCStatusTableViewCell实现UITableViewCell,跟 iPhone 4 过渡到 iPhone 5 一样.在新程序中，指定一张新的启动图片。</string>
		<key>url</key>
		<string>http://www.mixseafood.com/</string>
		<key>date</key>
		<string>2015-02-10</string>
	</dict>
	<dict>
		<key>title</key>
		<string>2015，够重你就来！</string>
		<key>image</key>
		<string>lee/lee04.png</string>
		<key>desc</key>
		<string>在新程序中，指定一张新的启动图片。当指定了启动图，屏幕分辨率就已经变成应有的大小，这时候利用 AutoLayout 进行布局。</string>
		<key>url</key>
		<string>http://www.mixseafood.com/</string>
		<key>date</key>
		<string>2015-02-15</string>
	</dict>
	<dict>
		<key>title</key>
		<string>怎么能不新鲜？！</string>
		<key>image</key>
		<string>lee/lee07.png</string>
		<key>desc</key>
		<string>当需要开发者手动适配的时候，跟 iPhone 4 过渡到 iPhone 5 一样.在新程序中，指定一张新的启动图片。当指定了启动图，屏幕分辨率就已经变成应有的大小，这时候利用 AutoLayout 进行布局。</string>
		<key>url</key>
		<string>http://www.mixseafood.com/</string>
		<key>date</key>
		<string>2015-02-19</string>
	</dict>
	<dict>
		<key>title</key>
		<string>这又要选个什么标题呢</string>
		<key>image</key>
		<string>macminiupdate/mac01.png</string>
		<key>desc</key>
		<string>当需要开发者手动适配的时候，跟 iPhone 4 过渡到 iPhone 5 一样.在新程序中，指定一张新的启动图片。当指定了启动图，屏幕分辨率就已经变成应有的大小，这时候利用 AutoLayout 进行布局。</string>
		<key>url</key>
		<string>http://www.mixseafood.com/</string>
		<key>date</key>
		<string>2015-02-19</string>
	</dict>
	<dict>
		<key>title</key>
		<string>标题一定要非常非常的长长长长</string>
		<key>image</key>
		<string>macminiupdate/mac04.png</string>
		<key>desc</key>
		<string>当需要开发者手动适配的时候，跟 iPhone 4 过渡到 iPhone 5 一样.在新程序中，指定一张新的启动图片。当指定了启动图，屏幕分辨率就已经变成应有的大小，这时候利用 AutoLayout 进行布局。</string>
		<key>url</key>
		<string>http://www.mixseafood.com/</string>
		<key>date</key>
		<string>2015-02-28</string>
	</dict>
	<dict>
		<key>title</key>
		<string>come, go for it.</string>
		<key>image</key>
		<string>macminiupdate/mac07.png</string>
		<key>desc</key>
		<string>当需要开发者手动适配的时候，跟 iPhone 4 过渡到 iPhone 5 一样.在新程序中，指定一张新的启动图片。当指定了启动图，屏幕分辨率就已经变成应有的大小，这时候利用 AutoLayout 进行布局。</string>
		<key>url</key>
		<string>http://www.mixseafood.com/</string>
		<key>date</key>
		<string>2015-02-28</string>
	</dict>
	<dict>
		<key>title</key>
		<string>一二三四五六七八九十</string>
		<key>image</key>
		<string>macminiupdate/mac09.png</string>
		<key>desc</key>
		<string>当需要开发者手动适配的时候，跟 iPhone 4 过渡到 iPhone 5 一样.在新程序中，指定一张新的启动图片。当指定了启动图，屏幕分辨率就已经变成应有的大小，这时候利用 AutoLayout 进行布局。</string>
		<key>url</key>
		<string>http://www.mixseafood.com/</string>
		<key>date</key>
		<string>2015-03-03</string>
	</dict>
</array>
</plist>
